{% extends "template/base.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/login.css">
{% endblock %}

{% block content %}
    <h1>Future login page</h1>
    <p>{{ test }}</p>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="js/login.js"></script>
{% endblock %}